### Workspaces is optional ###
# Documentation found here: https://www.terraform.io/docs/backends/types/remote.html
workspaces {
  prefix = "enterusenamehere-"
}

hostname = "app.terraform.io"
organization = "yourorg"
token = "yourtoken"
