name: Maven PR Build

# We require all commits go through PR on GitHub
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Maven PR Builder (JDK ${{ matrix.java }} with ${{ matrix.build_property }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 17, 21 ]
        build_property: [ "kakadu.version", "ignored.version" ]

    steps:
      - name: Check out code
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v2
      - name: Install JDK ${{ matrix.java }}
        uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v1
        with:
          distribution: "temurin"
          java-version: ${{ matrix.java }}
          cache: maven
      - name: Install Kakadu SSH key
        uses: webfactory/ssh-agent@dc588b651fe13675774614f8e6a936a468676387 # v0.9.0
        env:
          KAKADU_PRIVATE_SSH_KEY: ${{ secrets.KAKADU_PRIVATE_SSH_KEY }}
        if: ${{ matrix.build_property == 'kakadu.version' && env.KAKADU_PRIVATE_SSH_KEY != null }}
        with:
          ssh-private-key: ${{ secrets.KAKADU_PRIVATE_SSH_KEY }}
      - name: Build with Maven
        uses: samuelmeuli/action-maven-publish@201a45a3f311b2ee888f252ba9f4194257545709 # v1.4.0
        env:
          KAKADU_PRIVATE_SSH_KEY: ${{ secrets.KAKADU_PRIVATE_SSH_KEY }}
        if: |
          (matrix.build_property == 'kakadu.version' && env.KAKADU_PRIVATE_SSH_KEY != null) ||
          matrix.build_property != 'kakadu.version'
        with:
          maven_goals_phases: "clean verify"
          maven_args: >
            -V -ntp -DlogLevel=DEBUG -DtestLogLevel=DEBUG
            -D${{ matrix.build_property }}=${{ secrets.KAKADU_VERSION }}
